In [1]:
import sqlite3
import pandas as pd

In [2]:
#connect to the sqlite db 
conn = sqlite3.connect("exercise01.sqlite")
c = conn.cursor()

In [3]:
#test connection 
for row in c.execute('SELECT * FROM records limit 5;'):
        print(row)

(1, 39, 8, 10, 13, 5, 2, 2, 5, 2, 2174, 0, 40, 40, 0)
(2, 50, 7, 10, 13, 3, 5, 1, 5, 2, 0, 0, 13, 40, 0)
(3, 38, 5, 12, 9, 1, 7, 2, 5, 2, 0, 0, 40, 40, 0)
(4, 53, 5, 2, 7, 3, 7, 1, 3, 2, 0, 0, 40, 40, 0)
(5, 28, 5, 10, 13, 3, 11, 6, 3, 1, 0, 0, 40, 6, 0)

In [4]:
# join/flatten the data and write to a dataframe
# check that joins worked
df = pd.read_sql_query("""
                        SELECT r.id, r.age, r.workclass_id, r.education_level_id, r.education_num, r.marital_status_id,
                        r.occupation_id, r.race_id, r.sex_id, r.capital_gain, r.capital_loss,r.hours_week, r.country_id, 
                        r.over_50k, w.name as workclass, e.name as education_level, m.name as marital_status, 
                        o.name as occupation, ra.name as race, s.name as sex, c.name as country
                        FROM records r
                        LEFT JOIN workclasses w
                        on r.workclass_id = w.id
                        LEFT JOIN education_levels e
                        on r.education_level_id = e.id
                        LEFT JOIN marital_statuses m
                        on r.marital_status_id = m.id
                        LEFT JOIN occupations o
                        on r.occupation_id = o.id
                        LEFT JOIN races ra
                        on r.race_id = ra.id
                        LEFT JOIN sexes s
                        on r.sex_id = s.id
                        LEFT JOIN countries c
                        on r.country_id = c.id;""", conn)
df.head()

,id,age,workclass_id,education_level_id,education_num,marital_status_id,occupation_id,race_id,sex_id,capital_gain,...,hours_week,country_id,over_50k,workclass,education_level,marital_status,occupation,race,sex,country
0,1,39,8,10,13,5,2,5,2,2174,...,40,40,0,State-gov,Bachelors,Never-married,Adm-clerical,White,Male,United-States
1,2,50,7,10,13,3,5,5,2,0,...,13,40,0,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,United-States
2,3,38,5,12,9,1,7,5,2,0,...,40,40,0,Private,HS-grad,Divorced,Handlers-cleaners,White,Male,United-States
3,4,53,5,2,7,3,7,3,2,0,...,40,40,0,Private,11th,Married-civ-spouse,Handlers-cleaners,Black,Male,United-States
4,5,28,5,10,13,3,11,3,1,0,...,40,6,0,Private,Bachelors,Married-civ-spouse,Prof-specialty,Black,Female,Cuba

In [7]:
# change '?' values in workclass and occupation
# these will later be dummied for modeling
df['workclass'].replace('?', 'class unknown',inplace=True)
df['occupation'].replace('?', 'occup unknown',inplace=True)

In [8]:
#write dataframe to csv without the Index
df.to_csv('exercise01_flat.csv', index = False)