In [1]:
import pandas as pd
from sklearn.cross_validation import train_test_split

In [2]:
#read in from the csv
census = pd.read_csv('C:\\Users\\Doug\\Documents\\GitHub\\data-scientist-exercise01\\data prep\\exercise01_flat.csv')
census.head()

,id,age,workclass_id,education_level_id,education_num,marital_status_id,occupation_id,race_id,sex_id,capital_gain,...,hours_week,country_id,over_50k,workclass,education_level,marital_status,occupation,race,sex,country
0,1,39,8,10,13,5,2,5,2,2174,...,40,40,0,State-gov,Bachelors,Never-married,Adm-clerical,White,Male,United-States
1,2,50,7,10,13,3,5,5,2,0,...,13,40,0,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,United-States
2,3,38,5,12,9,1,7,5,2,0,...,40,40,0,Private,HS-grad,Divorced,Handlers-cleaners,White,Male,United-States
3,4,53,5,2,7,3,7,3,2,0,...,40,40,0,Private,11th,Married-civ-spouse,Handlers-cleaners,Black,Male,United-States
4,5,28,5,10,13,3,11,3,1,0,...,40,6,0,Private,Bachelors,Married-civ-spouse,Prof-specialty,Black,Female,Cuba

In [3]:
#over_50k is our target variable so create a separate data frame that contains just the target
over50 = census.pop('over_50k')
over50.head()

0    0
1    0
2    0
3    0
4    0
Name: over_50k, dtype: int64

In [4]:
#look at proportion of the levels of the target variable so that we can compare the proportions after partitioning the data 
print over50.value_counts(0)     #0 Gives you counts
print over50.value_counts(1)     #1 Gives you proportion

0    37155
1    11687
Name: over_50k, dtype: int64
0    0.760718
1    0.239282
Name: over_50k, dtype: float64

In [5]:
# only stratifying on the target 
# if needed, stratify on another variable by adding it to the list for pd.concat
# (i.e. if we want to look at models for particular education levels, occupations, etc.)
stratify_by = pd.concat([over50],axis=1)

In [6]:
# Creating 60/30/10 train/valid/test data sets
# Perform the first of two splits
# This first split will be a 60/40 split (we'll split the 40% subsequently)
# Note: target variable  is popped off the dataset (will recombine later)
census_train, census_comp, over50_train, over50_comp = train_test_split(census, over50, stratify=stratify_by, test_size=.4, random_state=123)

In [7]:
#Look at proportion for the target and compare with pre-partitioned data
# 0.760723 and 0.239277 look good
over50_train.value_counts(1)

0    0.760723
1    0.239277
Name: over_50k, dtype: float64

In [8]:
# Need to create 30/10 valid/test data sets from the 0.4 chunk already split
# A 25% split of 40% will create the 30% valid and 10% test data sets
census_valid, census_test, over50_valid, over50_test = train_test_split(census_comp, over50_comp, stratify=over50_comp, test_size=.25, random_state=123)

In [9]:
# checking that validation and test datasets have correct proportions of the target
print over50_valid.value_counts(1)
print over50_test.value_counts(1)

0    0.760715
1    0.239285
Name: over_50k, dtype: float64
0    0.760696
1    0.239304
Name: over_50k, dtype: float64

In [11]:
# concatenate target variable back onto train, valid and test datasets
train= pd.concat([census_train,over50_train], axis=1)
train.to_csv('C:\\Users\\Doug\\Documents\\GitHub\\data-scientist-exercise01\\partition\\train.csv', index=False)

valid= pd.concat([census_valid,over50_valid], axis=1)
valid.to_csv('C:\\Users\\Doug\\Documents\\GitHub\\data-scientist-exercise01\\partition\\valid.csv', index=False)

test= pd.concat([census_test,over50_test], axis=1)
test.to_csv('C:\\Users\\Doug\\Documents\\GitHub\\data-scientist-exercise01\\partition\\test.csv', index=False)